/* HomePageContainer.css */

.container {
  display: flex;
  gap: 10px; /* Adjust the gap between the crossboxes */
  margin-top: 5px;
}

.left {
  margin-top: 70px;
  flex: 1;
  padding: 20px;
}

.left h1 {
  color: #2f6461;
  font-size: 64px;
  font-family: Roboto ; /* Replace 'Your Chosen Font' with the actual font name */
  animation: fadeInUp 1s ease; /* Add animation effect */
  margin-top: 140px;
}

.left h4 {
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Your Chosen Font', sans-serif; /* Replace 'Your Chosen Font' with the actual font name */
  animation: fadeInUp 1.5s ease; /* Add animation effect */
}

.left button {
  margin-top: 20px;
  background-color: darkgreen;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  height: 70px;
  font-size: 14px;
  font-weight: bolder;
  font-family: Montserrat; /* Replace 'Your Chosen Font' with the actual font name */
  animation: fadeInUp 2s ease; /* Add animation effect */
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.right {
  flex: 1;
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Style the image to fit within the right section */
.right img {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 830px;
  height: 730px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 10px solid darkgreen;
  object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
}
