/* HomePageContainer.css */

.container {
  display: flex;
  gap: 10px; /* Adjust the gap between the crossboxes */
  margin-top: 0px;
}

.left {
  margin-top: 70px;
  flex: 1;
  padding: 20px;
}

.left h1 {
  color: #2f6461;
  font-size: 94px;
  font-family: Roboto ; /* Replace 'Your Chosen Font' with the actual font name */
  animation: fadeInUp 1s ease; /* Add animation effect */
  margin-top: 10px;
}

.header-description {
  margin-top: 40px;
  font-size: 25px;
  font-family: Nunito; /* Replace 'Your Chosen Font' with the actual font name */
  animation: fadeInUp 1.5s ease; /* Add animation effect */
}

.left button {
  margin-top: 50px;
  background-color: #4CAF50; /* Change button color to a green shade */
  color: white;
  padding: 12px 24px; /* Adjust padding for better button appearance */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  font-size: 16px; /* Adjust font size for better visibility */
  font-weight: bold;
}

/* Add hover effect to the button */
.left button:hover {
  background-color: #45a049;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.right {
  flex: 1;
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Style the image to fit within the right section */
.right img {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 830px;
  height: 765px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 10px solid darkgreen;
  object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
}
